* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    font-family: 'Arial' , sans-serif;
    background-color: black;
}
nav {
    background: rgb(12, 12, 12);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
}


nav ul li{
    padding: 6px 0;
}

nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "Lato";
    font-size: 30px;
    color: rgb(250, 174, 60);
    text-transform: uppercase;
    padding: 12px ;
    transition: 0.6s;
}


nav ul li a:hover {
    color: yellowgreen;
}

nav .logo {
    color: rgb(16, 224, 120);
    margin-top: 12px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.6s ease;
}

nav .logo:hover{
    color: rgb(250, 74, 43);
}